ASSET_AGENT_ASSET_ID=hp_pump_1
ASSET_AGENT_PROJECT_ROOT=.
ASSET_AGENT_API_ADDR=127.0.0.1:8080
ASSET_AGENT_DB_PATH=./data/asset_maintenance_agent.sqlite
ASSET_AGENT_CORS_ORIGINS=http://127.0.0.1:3000,http://localhost:3000
# Set this before binding ASSET_AGENT_API_ADDR to anything other than localhost.
# ASSET_AGENT_API_TOKEN=change-me
OPCUA_ENDPOINT=opc.tcp://127.0.0.1:4840
OPCUA_NAMESPACE_URI=urn:twinedge:opcua-edge
ASSET_AGENT_OUTPUT_ENDPOINT=opc.tcp://127.0.0.1:4841
ASSET_AGENT_OUTPUT_NAMESPACE_URI=urn:assetpilot:outputs
MISTRALRS_MODEL_PATH=./models/mistral/model.gguf
MISTRALRS_TIMEOUT_MS=180000
